$pink: #fac8cd;
$purple: #d7bcc8;
$lightBlue: #98b6b1;
$darkBlue: #151e3f;
$blockGray: #495d63;
$lightGreen: #a9e5bb;

:export {
  pink: $pink;
  purple: $purple;
  lightBlue: $lightBlue;
  darkBlue: $darkBlue;
  blockGray: $blockGray;
  lightGreen: $lightGreen;
}
